@import '../config/buttons';

$buttons: (
  "default": (
    background: color('btn-color'),
    color: color('white')
  ),
  "address": (
    background: color('white'),
    color: color('medium-blue'),
    border: '1px solid ' + color('darker-border-color')
  ),
  "party-action": (
    background: rgba(0,0,0,.1),
    color: color('white'),
    border: '1px solid ' + color('white')
  ),
  "host-action": (
    background: color('white'),
    color: color('darker-text-color'),
    border: '1px solid ' + color('medium-blue')
  )
);

.btn {
  // default styles here
  min-width: 40px;
  &.go-full {
    padding: $btn-padding-y 0;
    width: 100%;
  }
  @each $btn, $colors in $buttons {
    &.btn-#{$btn} {
      background: map-get($colors, "background");
      color: map-get($colors, "color");
      @if map-get($colors, "border") {
        border: unquote(map-get($colors, "border"));
      }
      &:not(:disabled):hover {
        @if map-get($colors, "hover") {
          background: map-get($colors, "hover");
        } @else {
          background: darken(map-get($colors, "background"), 5%);
        }
      }
    }
  }
}
