<div class="form-group" :class="dateParentClass">
  <template v-if="dateLabel">
    <label :for="dateName">{{dateLabel}}
      <template v-if="validations && validations.$params.required">
        *
      </template>
    </label>
  </template>

  <div @click="openDatepicker" class="datepicker-wrapper">
    <el-date-picker
      :value="value"
      :format="format"
      :name="dateName"
      :id="dateName"
      :picker-options="computedDisabledDates"
      :ref="dateName"
      :clearable="false"
      :editable="false"
      :placeholder="placeholderFormat"
      @input="$event => {
        if (validations) validations.$touch();
        update($event);
      }"
      @blur="() => {
        if (validations) validations.$touch();
      }"
      input-class="form-control"
    />
    <div class="calendar-icon">
      <Icon name="calendar" scale="1.9" />
    </div>
  </div>

  <div class="errors-holder" v-if="validations && validations.$dirty">
    <slot />
  </div>
</div>
