<div class="form-row mb60 pb60">
  <label class="col-sm-2">Party shipping Address*</label>
  <div class="host-form col-sm-5">
    <div class="row">
      <Input-generator
        v-for="(radio, i) in radios.inputs"
        input="input"
        inputType="radio"
        :inputName="radio.name"
        :inputLabel="radio.text"
        :checkRadioValue="radio.value"
        :customCallback="methods.toggleWhichShippingAddress"
        :inputParentClass="{
          'col-sm-12': true,
          'mb35': i !== radios.inputs.length - 1
        }"
        v-model="radios.value"
      />
    </div>
  </div>

  <div class="col-sm-5">
    <p v-if="radios.value !== 'other'" class="host-adress-summary">
      {{data.shipping}}
    </p>

    <Input-generator
      v-else-if="!addressOptions.length"
      inputName="shippingAddress"
      v-model="data.shipping"
      :validations="validations.shipping"
    >
      <span class="text-danger" v-if="!validations.shipping.required">
        Shipping address is required
      </span>
    </Input-generator>

    <Select-generator
      v-else
      selectName="shippingAddress"
      v-model="data.shipping"
      :options="addressOptions"
      :validations="validations.shipping"
    >
      <span class="text-danger" v-if="!validations.shipping.required">
        Shipping address is required
      </span>
    </Select-generator>
  </div>
</div>
