<div class="party-form">
  <Dialog-generator
    title="Select party host"
    :visible="addressBookIsOpened"
    :closeModal="toggleAdressBook"
    :lockScroll="true"
  >
    <AddressBookUsers :select="selectUser" :users="addressBookUsers" />
  </Dialog-generator>

  <form>
    <div class="form-row mb60 pb60">
      <label class="col-sm-2">Party Name*</label>
      <Input-generator
        input="input"
        inputName="partyName"
        inputParentClass="col-sm-9"
        v-model="partyDemoData.name"
        :validations="$v.partyDemoData.name"
      >
        <span class="text-danger" v-if="!$v.partyDemoData.name.required">
          Party name is required
        </span>
      </Input-generator>
    </div>

    <div class="form-row mb60 pb60">
      <label class="col-sm-2">Party Type*</label>
      <Select-generator
        selectName="partyType"
        v-model="partyDemoData.type"
        selectParentClass="col-sm-4"
        :validations="$v.partyDemoData.type"
        :options="typeOptions"
      >
        <span class="text-danger" v-if="!$v.partyDemoData.type.required">
          Party type is required
        </span>
      </Select-generator>
    </div>

    <Pickers
      class="form-row mb60 pb60"
      :validations="$v.partyDemoData"
      :data="partyDemoData"
    />

    <div class="form-row mb60 pb60">
      <div class="col-sm-2">
        <label>Party host*</label>
        <p class="address-book-cta mt30">
          Input Host details or choose from your <a @click="getAddressBookUsers" href="javascript:;">Address Book</a>
        </p>
      </div>

      <Host-address-form
         class="host-form col-sm-10"
         :address-options="addressOptions"
         :validations="$v.partyDemoData"
         :data="partyDemoData"
         :radios="hostRadios"
         :methods="{
           toggleIfConsultantIsHost,
           syncAddressWithShipping,
           syncAddressWithLocation
         }"
      />
    </div>

    <Shipping-address
      class="form-row mb60 pb60"
      :address-options="addressOptions"
      :validations="$v.partyDemoData"
      :data="partyDemoData"
      :radios="shippingRadios"
      :methods="{
        toggleWhichShippingAddress
      }"
    />

    <Party-location
      class="form-row mb60 pb60"
      :address-options="addressOptions"
      :validations="$v.partyDemoData"
      :data="partyDemoData"
      :radios="locationRadios"
      :methods="{
        toggleWhichLocationAddress
      }"
    />

    <div class="form-row mb60 pb60">
      <label class="col-sm-2">Party hashtag</label>
      <Input-generator
        input="input"
        inputName="partyHashtag"
        inputParentClass="col-sm-4"
        v-model="partyDemoData.hashtag"
        :customCallback="ensureIsHashtag"
      />
    </div>

    <div class="col-12 text-center">
      <button type="button" class="btn btn-default" :disabled="$v.partyDemoData.$invalid">
        {{bottomCTAsInfo.submitText}}
      </button>

      <router-link class="back-btn mt20" :to="bottomCTAsInfo.cancelLink">Cancel</router-link>
    </div>
  </form>
</div>
