@import "tipography";

// Close

$close-font-size:                   10px;
$close-font-weight:                 $font-weight-bold;
$close-color:                       color('black');
$close-text-shadow:                 0 1px 0 color('white');
