@import "tipography";
@import "general";

// Tooltips

$tooltip-font-size:                 $font-size-sm;
$tooltip-max-width:                 200px;
$tooltip-color:                     color('white');
$tooltip-bg:                        color('black');
$tooltip-border-radius:             $border-radius;
$tooltip-opacity:                   .9;
$tooltip-padding-y:                 10px;
$tooltip-padding-x:                 5px;
$tooltip-margin:                    0;

$tooltip-arrow-width:               5px;
$tooltip-arrow-height:              3px;
$tooltip-arrow-color:               $tooltip-bg;
